button {
    width: 10vw;
    margin: 0 auto 0 auto;
    border: none;
    border-radius: 2rem;
    padding: 2vh 2.5vw;
    background-color: darkseagreen;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1024px) {
    button {
        width: 80vw;
    }
}